@import url('./variables.css');

/*hero*/
#home{
    background-image: linear-gradient(rgba(34, 50, 43, 0.5), rgba(48, 75, 48, 0.8)),
                    url(../assets/img/C.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

#form p{
    color: #0b2238;
    

    
}

/* map */
.map-container{
    width: 100%;
}


hr{
  opacity:100;
  width:100%;
  height:auto;
  background-color: #228b22;

}