@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-heading: "Roboto";
    --font-text: "montserrat";

    --color-green-primary: #228B22;
    --color-green-secondary: #2ecc71;
    --color-blue-primary: #1976D2;
    --color-blue-secondary: #4fc3f7;
    --color-orange: #F57C00;
    --color-white: #ffffff;
    --color-light: #f9f9f9;
    --color-black: #121212;
    --color-gray:  #0b2238;

    --size-heading-1: 2rem;
    --size-heading-2: 1.6rem;
    --size-heading-3: 1.2rem;
    --size-heading-4: 1.1rem;
    --size-heading-5: 1rem;
    --size-heading-6: 1rem;
    --size-link: 0.9rem;
    --size-text: 0.9rem;

    --padding-section: 3rem 0;
}